* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/* container-wrap */

.container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #282c34, #3a3f47);
}

/* container */

.container {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 450px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* form */

form {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
}

/* search box */

form .input-box {
  border: 2px solid #ff6b6b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form .input-box input {
  padding: 10px 0;
  padding-left: 15px;
  outline: none;
  border: none;
  font-size: 16px;
  width: 100%;
}

/* checkbox */

form label {
  padding-left: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

form label input {
  transform: scale(1.2);
  accent-color: #ff6b6b;
  cursor: pointer;
}

/* table */

.table {
  width: 100%;
  border: 2px solid #ff6b6b;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* table head */

.table thead {
  color: #000000;
}

.heading th {
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

/* category name */

.category-name {
  border: 2px solid green;
  border-radius: 5px;
  padding: 3px;
}

/* list elements */

.list td {
  padding: 8px 10px;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.list:hover {
  background: #f8f8f8;
  transition: 0.3s;
}

/* responsiveness */

@media (max-width: 500px) {

  .container {
    width: 400px;
  }
}

@media (max-width: 450px) {

  .container {
    width: 350px;
  }
}

@media (max-width: 400px) {

  .container {
    width: 300px;
  }
}